.headertabs {
  border:1px solid #aaaaaa;
  padding:5px;
  margin-bottom:10px;
}

.edit-tabs {
  list-style-type: none !important;
  background-image: linear-gradient(#d0d0d0, #aaaaaa);
  padding:5px 5px 0 5px;
  line-height:39px;
  border:1px solid #aaaaaa;
  margin:0;
  width:100%;
  cursor:pointer;
}

.edit-tabs > li {
  display:inline !important;
  border:1px solid #d3d3d3;
  background: #e6e6e6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding:10px;
  color:#505050;
}

.edit-tabs > li.tab_selected {
  background:white;
  position:relative;
}

.edit-tabs > li.tab_selected:after {
  content:'';
  position:absolute;
  bottom:-2px;
  left:0;
  width:100%;
  background:white;
  height:2px;
}

.section_unselected {
  display:none;
}

.wikidata table.formtable th {
  background:#006699;
  color:white;
}

.inputSpan {
  margin-bottom:10px;
}

.edit_item_button {
  cursor:pointer;
}

.edit_publish {
  padding:5px;
}

.edit_publish input[type="button"] {
  padding:5px;
  border-radius:1px;
  border:1px solid #aaaaaa;
}

.createboxInputMainImage {
  width: calc(100% - 150px) !important;
}

.image_thumb {
  margin-top: 10px;
}

.multipleTemplateInstance {
  background-color: #dddddd;
  border: 1px solid #cccccc;
  padding: 5px;
  margin: 10px 0 10px 0;
}

.multipleTemplateInstance table {
  width: 100%;
  padding: 0;
  margin: 0;
  color: inherit;
  background-color: inherit;
}

.multipleTemplateInstance input[type="text"] {
  font-size: 10pt;
  padding: 1px;
  width: 50%;
}

.removeButton {
  background: none;
  border: none;
  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 5px;
}

.removeButton:hover {
  border: 1px solid #aaaaaa;
}
