.import {
  font-size:16px;
  font-weight:bold;
  text-align:right;
  margin-bottom:20px;
}

.import a {
  color:#505B61;
}

.import img {
  width:30px;
}

.wikidataLink {
  display: flex;
  align-items: center;
}

.wikidataLink img {
  width: 100px;
}

div.pageArtiste table.wikitable {
  padding: 0px;
  font-size: 13px;
  border-collapse: collapse;
  margin-top: 27px;
  background: none;
  border: none;
}

div.pageArtiste table.wikitable tr th, div.pageArtiste table.wikitable tr td {
  border-bottom: 1px solid #E0E0E0;
  padding: 4px 6px;
}

div.pageArtiste table.wikitable tr th {
  text-align: left;
  width: 162px;
  background: none;
  border: none;
}

div.pageArtiste table.wikitable tr th, div.pageArtiste table.wikitable tr td {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  padding: 4px 6px;
}
